:root {
    --padding: 16px;
    --border-size: 1px;
    --border-radius: 8px;
    --max-app-width: 800px;

    --color-background: #F1F5F9;
    --color-border: #CFD8E3;
    --color-control: #6875F5;
    --color-control-text: #FFF;

    --color-error: #E02424;

    --font-size-s: 12px;
    --font-size-m: 16px;
    --font-size-l: 20px;
}
