@import '~utils/styles/variables.css';

.actions-panel {
    display: flex;
    justify-content: flex-end;
}

.actions-panel:not(:last-child) {
    margin-bottom: var(--padding);
}

.actions-panel__button:not(:last-child) {
    margin-right: var(--padding);
}
