@import '~utils/styles/variables.css';

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    display: inline-block;

    width: 16px;
    height: 16px;

    animation: spin 1s ease infinite;

    border: var(--border-size) solid var(--color-border);
    border-right-color: transparent;
    border-radius: 50%;
}
