@import '~utils/styles/variables.css';

.field-array-row {
    display: flex;
    justify-content: space-between;
}

.field-array-row__label {
    padding-bottom: var(--padding);
    font-size: var(--font-size-m);
}

.field-array-row div:not(:last-child) {
    padding-right: var(--padding);
}

.field-array-row__button {
    display: flex;
    align-items: center;
}
