@import '~@csstools/normalize.css';
@import '~utils/styles/variables.css';

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
    margin: 0;
}

#root {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
